@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:regular);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Infant:regular,700);
.header {
  background-color: #292e36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .button:last-child {
  background-color: #e1b168;
}

.header .button:last-child a {
  color: #292e36;
}

.header_block_brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0 49px 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul li {
  list-style-type: none;
}

.main_menu li {
  margin-right: 60px;
}

.main_menu li:last-child {
  margin-right: 0;
}

.main_menu li .active {
  color: #e1b168;
}

.main_menu li a {
  text-transform: capitalize;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #fff;
}

.main_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.main_links .main_link {
  margin-right: 20px;
}

.main_links .main_link:last-child {
  margin: 0;
}

.main_links .main_link a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #fff;
}

.main_links .main_link a:hover {
  background-color: #e1b168;
}

.main_links .inst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-mask-image: url(../assets/social/inst.svg);
          mask-image: url(../assets/social/inst.svg);
  width: 24px;
  height: 23px;
}

.main_links .fb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-mask-image: url(../assets/social/fb.svg);
          mask-image: url(../assets/social/fb.svg);
  width: 24px;
  height: 23px;
}

.main_links .tw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-mask-image: url(../assets/social/tw.svg);
          mask-image: url(../assets/social/tw.svg);
  width: 26px;
  height: 21px;
}

.main_links .pint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-mask-image: url(../assets/social/pint.svg);
          mask-image: url(../assets/social/pint.svg);
  width: 25px;
  height: 24px;
}

.welcome {
  background-color: #292e36;
}

.welcome_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.welcome_block_aside {
  width: 50%;
  color: #fff;
}

.welcome_block_aside .welcome_block_aside_img {
  width: 100%;
}

.welcome_block_aside img {
  width: 100%;
}

.welcome_block_aside p {
  margin: 25px 0;
  width: 90%;
  line-height: 30px;
}

.welcome_block_aside .button a {
  color: #e1b168;
}

.info {
  background-color: #fff8f5;
}

.info_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 100px 0 60px 0;
}

.info_item {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "img h4" "img p";
}

.info_item .info_item_img {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: img;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 83px;
  height: 83px;
  background-color: #292e36;
  border-radius: 100%;
  margin-right: 20px;
}

.info_item h4 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: h4;
  color: #292e36;
}

.info_item p {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: p;
  color: #555;
}

.info_item a {
  color: #555;
}

.story {
  background-color: #fff8f5;
  padding-top: 60px;
  padding-bottom: 100px;
}

.story_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.story_img {
  width: 60%;
}

.story_img img {
  width: 100%;
}

.story_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  margin-left: 45px;
}

.story_item h4 {
  font-size: 40px;
  line-height: 56px;
  color: #292e36;
}

.story_item p {
  line-height: 30px;
  color: #555;
}

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.date .year {
  font-family: 'Cormorant Infant';
  font-size: 40px;
  line-height: 56px;
  color: #292e36;
}

.author {
  line-height: 30px;
}

.testimonial {
  background-color: #292e36;
}

.testimonial_block {
  color: #fff;
}

.testimonial_block h2 {
  color: #fff;
}

.testimonial_block h4 {
  font-size: 40px;
  line-height: 56px;
  text-transform: capitalize;
  color: #ffffff;
}

.testimonial_block p {
  line-height: 30px;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
}

.client {
  display: -ms-grid;
  display: grid;
}

.client .client_img {
  max-width: 113px;
  min-height: 113px;
}

.client .client_img img {
  border-radius: 100%;
}

.client .client_name {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  color: #ffffff;
}

.menu_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 55px;
}

.offer {
  width: 36%;
}

.offer h4 {
  line-height: 56px;
}

.offer p {
  line-height: 30px;
  color: #555555;
}

.offer .offer_img {
  width: 100%;
  margin: 30px 0 60px 0;
}

.offer .button a {
  color: #e1b168;
}

.menu_bl {
  width: 64%;
}

.menu {
  width: 100%;
}

.menu h4 {
  margin-bottom: 40px;
}

.menu_items {
  line-height: 30px;
  color: #555555;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}

.menu_item .menu_item_img {
  margin-right: 20px;
}

.menu_elements {
  width: 100%;
}

.menu_elements_and_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.menu_elements_and_price p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_elements_and_price .menu_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 15px 10px 15px;
  border-bottom: 1px solid #000;
}

.menu_elements_and_price .cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Josefin Sans";
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.2px;
}

h1 {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 110px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #292e36;
  margin-top: 140px;
  margin-bottom: 10px;
}

.h2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  overflow: hidden;
}

h2::after {
  content: '';
  border: 1px solid #e1b168;
}

h2::before {
  content: '';
  border: 1px solid #e1b168;
}

h4 {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  color: #292e36;
}

h5 {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  color: #292e36;
}

.container {
  width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
  height: 100%;
}

.button {
  width: 295px;
  height: 73px;
  background: transparent;
  border: 2px solid #e1b168;
}

.button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */